{
  "extends": [
    "airbnb/base",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [ 2, { "devDependencies": true } ],
    "import/extensions": 0,
    "indent": ["error", 2, { "MemberExpression": 1 }],
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/display-name": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "implicit-arrow-linebreak": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
